

## Input, Processing and Output

# Why Python?

- Relatively easy to learn,simple programming syntax

- Fast to write a code,code readability and English-like commands

- Intuitive

- It is one of the most popular languages used in data science, machine learning and AI systems and various modern technologies

- Python Has Amazing Libraries from NumPy and SciPy for scientific computing to Django for web development, scikit-learn for machine learning applications and nltk for natural language processing

# $\textbf{print}$ Function

- Python has numerous built-in functions that perform various operations

- Perhaps the most fundemental built-in function is the print function

- $\textbf{print}$ displays output on the screen

In [1]:
print("Hello world")
print(4)
print('Avinash')

Hello world
4
Avinash

# Variables

- A Python variable is a reserved memory location to store values.
- In other words, a variable in a python program gives data to the computer for processing. 
- Every value in Python has a datatype. 
- Different data types in Python are Numbers, List, Tuple, Strings, Dictionary, etc.
- We will learn all the data tyypes in this course. 

## Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
greeting = "Hello, World!" #Here greeting is a variable name which stores a string or text "Hello, World!"

x_1 = 23 #Here x is a variable name which stores an integer value 23

pi = 3.14 #Here pi is a variable name which stores a float value 3.14

#We can print the value of the variables using print command
print(x_1)
print(greeting)
print(pi)

23
Hello, World!
3.14

## Assign Value to Multiple Variables
Python allows you to assign values to multiple variables in one line:

In [ ]:
x, y, z = "Orange", "Yellow", "Green"
print(x)
print(y)
print(z)

Orange
Yellow
Green

In [ ]:
x= "Orange"
y="Yellow"
z="Green"

print(x)
print(y)
print(z)

Orange
Yellow
Green

### And you can assign the same value to multiple variables in one line:

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
x= "Orange"
y="Orange"
z="Orange"

## We cannot use the following keywords (reserved words) as variable name in Python.

-  pass,          return ,       False
-  raise,         for,          None
-  finally,       from,          True
-  continue,      global,        and
-  nonlocal,      try,           as
-  with,          import,        assert
-  yield,         in,            break
-  or,            is,            class
-  elif,          lambda,        if
-  not,           while,         def
-  else,          del

In [ ]:
pass= 5
print(pass)

SyntaxError: invalid syntax (<ipython-input-7-1b4cc73c20f8>, line 1)

![picture](https://drive.google.com/uc?id=1_E3pPsjZHsOGTRJ1NI0zOXfEgL4ut5Pp)

# Displaying Multiple Items with the $\textbf{print}$ Function

- Python allow us to display multiple items with one call to $\textbf{print}$ function
- We simply seperate the items with commos

In [ ]:
# This program demonstrates a variable
number = 5
print('My lucky number is',number)

My lucky number is 5

In [ ]:
# This program demonstrates variable reassignment
# Assign a value to the weight variable

pound = 150
print('Last year my weight was', pound, 'before my diet')


# Reassign weight so it references
# a different value

pound = 130
print('Today my weight is', pound, 'after my diet!')

Last year my weight was 150 before my diet
Today my weight is 130 after my diet!

# Warning

- You cannot write currency symbols, spaces or commas in numeric literals. for example

value = $3,300.12 # Error

- This statement must be written as 

value = 3300.12  # Correct

In [ ]:
# What will the folowing code display?

val = 99
print('The value is', 'val')
print('The value is', val)

The value is val
The value is 99

In [ ]:
# What will be displayed by the following program?

my_value = 99
my_value = 0
print( my_value)

0

# Python Data Types

- Built-in Data Types

  - In programming, data type is an important concept.

  - Variables can store data of different types, and different types can do different things.

  - Python has the following data types built-in by default, in these categories:

    - Text Type:	str
    - Numeric Types:	int, float, complex
    - Sequence Types:	list, tuple, range
    - Mapping Type:	dict
    - Set Types:	set, frozenset
    - Boolean Type:	bool
    - Binary Types:	bytes, bytearray, memoryview

# Getting the Data Type

You can get the data type of any object by using the type() function:In python everything is an object, that is why it will show as a class instance.

In [ ]:
#We can find the type of a value using type
a = 10
print(type(a))



#note: everything after pound sign is a comment
# Here a is of interger (int) datatype

<class 'int'>

In [ ]:
b=10.56
print(type(b)) #here b is a float

<class 'float'>

# Examples of different data types in Python

Find the type of given values using "type" command

In [ ]:
# Find the data type
x = "Hello World" #the data type should be a string
print(type(x))

<class 'str'>

In [ ]:
# Find the data type
x = 20 #the data type should be int (integer)
print(type(x))

<class 'int'>

In [ ]:
# Find the data type
x = 20.5 #the data type should be float
print(type(x))

<class 'float'>

In [ ]:
# Find the data type
x = 1j #the data type should be complex number
print(type(x))

<class 'complex'>

In [ ]:
# Find the data type
x = ["apple", "banana", "cherry"] #the data type should be list
print(type(x))

<class 'list'>

In [ ]:
# Find the data type
x = ("apple", "banana", "cherry") #the data type should be tuple
print(type(x))

<class 'tuple'>

In [ ]:
# Find the data type
x = {"name" : "John", "age" : 36} #the data type should be dict(dictionary)
print(type(x))

<class 'dict'>

In [ ]:
# Find the data type
x = {"apple", "banana", "cherry"} #the data type should be set
print(type(x))

<class 'set'>

In [ ]:
# Find the data type
x = bytearray(5) #the data type should be bytearray
print(type(x))

<class 'bytearray'>

In [ ]:
# Find the data type
x = True #the data type should be bool (boolean), it can take 2 values, either True or False

print(type(x))

<class 'bool'>

# Python Numbers

There are three numeric types in Python:

- int
- float
- complex
Variables of numeric types are created when you assign a value to them:

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

# Int
Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

# Float
Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

### Float can also be scientific numbers with an "e" to indicate the power of 10.

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

# Complex
Complex numbers are written with a "j" as the imaginary part:

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# Type Conversion
You can convert from one type to another with the int(), float(), and complex() methods:

In [ ]:
x = 1 # int
y = 2.8 # float
z = 1j # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x) 

print(a)
print(b)
print(c) 

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# Python arithmatic operators

<table>
    <tr>
        <td>
\begin{eqnarray}
\textbf{Operator} \\
+  \\
- \\
* \\
/ \\
// \\           
** \\
\%\\
\end{eqnarray}
        </td>
        <td>
\begin{eqnarray}
\textbf{Operation}\\
Addition\\
Subtraction\\
Multiplication\\
Division\\
Integer Division \\           
Power\\
Remainder\\
\end{eqnarray}
        </td>
    </tr>
</table>

In [ ]:
# This will add 3 to given x value and print the answer
x=2 #"two is assigned to x" or "x is assigned two," but not "x equals two."
y=x+3
print(y)

#This will multiply x value by 310 and print the answer

z=x*310
print(z)

#This will divide z value by 100 and print the answer

k=z/100 
print(k)

# This will divide z value by 100 and print the answer as a whole number

t=z//100 
print(t)

# This will divide z value by 3 and print the remainder term

m=z%3  
print(m)

5
620
6.2
6
2

# Work on it now

-  Store the value 15 in a variable named a_value.
-  Store the result of (25 - 7) * 17 to a variable named a_result.
-  Using the print() command, display the following:
    -  The value stored in the a_value variable.
    -  The result of adding 12 to the variable a_result.
    -  The result of adding a_value to a_result.

In [ ]:
# Write your code here

# Work on it now

-  By assigning a variable to 21 write a script which prints 5 more than 21. 
-  Using the value which is printed write seperate scripts which prints multiplying the answer by 3, 
-  dividing the answer by 3 and 
-  finding the remainder of division by 3.

In [ ]:
# Write your code here

# Work on it now


Write a code which finds the area  of a rectangle which has length 12cm and width 4cm.

In [ ]:
# Write your code here

# Order of Operation

- Parenthesis
- Power
- Division
- Multiplication
- Addition
- Left to Right

In [ ]:
#Power operation first, then divison by 4, multiplication by 6 and add 3

x=3+2**4/4*6 
print(x)

937.5

## Below is a table with some syntax shortcuts we can use:
![picture](https://drive.google.com/uc?id=1KZBgr4mqUcy_ElQ2QrQRQpD485b2rT3T)

In [ ]:
x= 6
x *=5


print(x)

30

# Work on it now
-  Assign a value of 20 to a variable named variable_1.
-  Assign a value of 20 to a variable named variable_2.
-  Update the value of variable_2 by adding 10 to its current value. You can take advantage of the += operator.
-  Update the value of variable_1 by multiplying its current value by 4. You can take advantage of the *= operator.
-  Display variable_1 and variable_2 using print().

In [ ]:
# Write your code here

# Type conversion and rounding operation

In [ ]:

#It's possible to convert a float to an integer and vice versa. To convert an integer to a float, we can use the float() command. 
#To convert a float to an integer, we can use the int() command
x=float(10)
y=int(4.3)
z1=round(4.99) #rounding of a number
z2=round(4.53) #rounding of a number
z3=round(4.3) #rounding of a number
print(x)
print(y)
print(z1)
print(z2)
print(z3)

10.0
4
5
4
4

# Work on it now
-  Assign the value 13.9 to a variable named variable_a.
-  Assign the value 2.8 to a variable named variable_b.
-  Round variable_a using the round() command, and assign back the rounded value to variable_a.
-  Convert variable_b from a float to an integer using the int() command, and assign back the converted value to variable_b.
-  Display variable_a and variable_b using the print() command.

In [ ]:
# Write your code here