

## String Concatenation and F-string

# String Literals

String literals in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [ ]:
print("Hello")
print('Hello World')

Hello
Hello World

# Assign String to a Variable

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [ ]:
a = "Hello"
print(a)

Hello

# Multiline Strings
You can assign a multiline string to a variable by using three quotes:

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididun
tut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididun
tut labore et dolore magna aliqua.

In [ ]:
sentence='''I like yogurt,
pasta,rice,
watermellon'''
print(sentence)

I like yogurt,
pasta,rice,
watermellon

Or three single quotes:

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

# More about strings
When we have two or more distinct strings, it's possible to link them together using the + operator.The process of linking
two or more strings together is called concatenation.

In [ ]:
print('a'+'b') # you can use '' and "" interchangeably to represent string, sometimes it depends on the situation
print('a'+' '+'b') #introduce a blank space
print('This'+'is'+'a'+'sentence.') #With no space in between
print('This'+' '+'is'+' '+'a'+' '+'sentence.')
print('This '+'is '+'a '+'sentence.')

ab
a b
Thisisasentence.
This is a sentence.
This is a sentence.
This is a number

# Work on it now

Write a script where you will assign a string "Welcome," into a variable named A and your name into a variable named B. Then, assuming for now user's name is John Mayer, have the script output using string assignment, concatenation and print operation: 

Welcome, John Mayer!

In [ ]:
# Write your code here

A=
B=
print(+)

In [ ]:
#We can't perform arithmetical operations between strings and integers, or strings and floats (decimal numbers).
print('4'+1) #Trying to add string 4 with integer 1. This is not allowed. Here surrounding 4 with quotation, changed its data type from int to float

# Escape character in string

In [ ]:

x="pandora's box" # Here we have enclosed the string with double quote to display apostrophe(') as a single code
print(x)

#But if you want to enclose the string with single quote, and want to display apostrophe(') as a special charater, do the following:
x1='pandora\'s box' #Here \ is an escape character to make python understand to escape apostrophe(') as a special character and the string does not end there
print(x1)
x3="pandora\'s box"
print(x3)

pandora's box
pandora's box
pandora's box

In [ ]:
# New line escape character

print('One\nTwo\nThree') # New line escape character

One
Two
Three

In [ ]:
#The \t escape character advances the output to the next horizontal tab position
print('Mon\tTues\tWed')

Mon	Tues	Wed

# Work on it now
-  Assign the string $\textbf{Facebook's rating is}$ to a variable named $\textbf{facebook}$
-  Assign the $\textbf{float 3.5}$ to a variable named $\textbf{fb_rating}$
-  Convert fb_rating from a float to a string using the $\textbf{str()}$ command, and assign the converted value to a new variable named  $\textbf{fb_rating_str}$
-  Concatenate the strings stored in $\textbf{facebook}$ and $\textbf{fb_rating_str}$ to form the string $\textbf{Facebook's rating is 3.5}$
-  Assign the concatenated string to a variable named $\textbf{fb}$
-  You'll need to add a space character between Facebook's rating is and 3.5 to avoid ending up with the string Facebook's rating is 3.5.
-  Display the fb variable using $\textbf{print()}$

In [ ]:
# Write your code here

# Specifying an Item Seperator
-  When multiple arguments passed to the $\textbf{print}$ function, they are automatically seperated by a space when they are displayed on the screen

-  If you don't want a space printed between the items you can pass the argument $\textbf{sep=}$

-  You can also use special argument to specify a character other than the space to seperate multiple items.

In [ ]:
print('One','Two','Three')
print('One','Two','Three', sep="")
print('One','Two','Three', sep='*')
print('One','Two','Three', sep=',')
print('One','Two','Three', sep='@')
print('one','two',sep='+')
print("one "+"two")
print("one@"+"two")

One Two Three
OneTwoThree
One*Two*Three
One,Two,Three
One@Two@Three
one+two
one two
one@two

# Reading Input From the Keyboard
-  Most of the programs that you will write will need to read input and then perform an operation on that input
-  When a program reads data from the keyboard
-  Usually it stores that data in a variable so it can be used later by the program

In [ ]:
# Get the user's first name
first_name= input('Enter your first name:')

# Get the user's last name
last_name = input ('Enter your last name:')

#Print a greeting to the user
print('Hello', first_name, last_name)

Enter your first name:Priyanka
Enter your last name:Samanta
Hello Priyanka Samanta

# Reading Number with the input Function
-  The input function always returns the user's input as a string, even if the user enters numeric data
-  For example, suppose you call the input function and enter the number 5, and press ENTER key. The value returned from the input is '5'
-  This can be problem if you want to use the value for mathematical operation
-  Python has built-in functions that you can use to convert a string to a numeric type

In [ ]:
number= input("What is the number?")
print(type(number))

What is the number?10
<class 'str'>

In [ ]:

int(item)  # Pass an argument to the int() function and it return the argument's value converted to an int
float(item) # Pass an argument to the float() function and it return the argument's value converted to a float

In [ ]:
#First statement gets the number of hours and assign to a value as a string
#Second statement calls the int()function, passing string_value as an argument
#This is inefficient because it creates two varaiables

string_value= input('How many hours did you work?')

hours=int(string_value)
print(type(hours))

How many hours did you work?20
<class 'int'>

In [ ]:
#Better approach: nested function
hours= int(input('How many hours did you work?'))
print(type(hours))

How many hours did you work?4
<class 'int'>

# Work on it now
-  Write a script which uses the input function to read a string, an int, and a float, as input from keyboard prompts the user to enter his/her name as string, his/her age as integer value, and his/her income as a decimal.

- For example your output will display as

Emma is 30 years old and her income is 2000000

In [ ]:
# Write your code here

name=input("Your name")
age=input("")

print(name,'is')

# Displaying Formatted Output with F-strings
-  F-strings are special type of string literal that allow you to format a variety of ways
-  With an f-string, you can create messages that contain the contents of variables, and you can format numbers in a variety of ways
-  An f-string is a string literal that is enclosed in quotation marks and prefixed with the letter f

In [ ]:
#f'Hello world'
print(f'Hello world')

Hello world

In [ ]:
name='Johny'
last_name= 'Dean'
print(f'Hello {name}') #{name} is a placeholder inside f-string
print(f"Hello {last_name}")

Hello Johny
Hello Dean

In [ ]:
temperature = 45
print(f'It is currently {temperature} degrees.')

It is currently 45 degrees.

In [ ]:
temperature= 45
print("It is currently ", temperature, "degrees")

It is currently  45 degrees

In [ ]:
# Placeholders can contain any valid expression
print(f'The value is {10+2}.')

print(f'The value is 10+2.')

val=10
print(f'The value is {val+2}.')

The value is 12.
The value is 10+2.
The value is 12.

# Formatting Values
## Rounding Floating-Point Numbers
-  You might not always be happy with the way that floating-point numbers are displayed on the screen
-  When floating number is displayed by the print function it can appear with up to 17 significant digits

In [ ]:
#This program demonstrates how a floating-point number is displayed with no formatting

amount_due= 5000.0
monthly_payment = amount_due/12.0
print(monthly_payment)
print(f'The monthly payment is {monthly_payment}')

416.6666666666667
The monthly payment is 416.6666666666667

-  Because this program displays a dollar amount, it would be nice to see that amount rounded by two decimal places
- We can do it using .2f

In [ ]:
#This program demonstrates how a floating-point number can be rounded

amount_due= 5000.0
monthly_payment = amount_due/12.0
print(f'The monthly payment is {monthly_payment:.2f}')

The monthly payment is 416.67

In [ ]:
number=123123.456789
print(f'Here is my number {number:.2f}')
print(f'Here is my number {number}')

Here is my number 123123.46
Here is my number 123123.456789

-  It is easier for the human eye to read large numbers if they are displayed with comma seperators
-  You can use a format specifier to insert comma seperators into a number

In [ ]:
number =123456789.1234 #123,456,789.1234 
print(f'{number:,}')

123,456,789.1234

In [ ]:
# You can even combine comma seperators and rounding the number

number = 123456789.1234
print(f'{number:,.2f}')

123,456,789.12

## Formatting a Floating-Point Number as a Percentage

-  You can also use % symbol to format a floating point number as apercentage
-  The symbol % causes the number to be multiplied by 100

In [ ]:
discount= 0.5

print(f'{discount:%}')

50.000000%

In [ ]:
# Example of rounding output value to 0 decimal places
discount= 0.5
print(f'{discount:.0%}')

50%

# Work on it Now 

- Assign 971825.12334 to a variable called value_1 and using the print function and f-string display your output as rounded to 3 decimal places

- Assign 6734911444 to a variable called value_2 and using the print function and appropriate f-string display your output with comma.

In [ ]:
# Work here

# Work on it Now 

- Take an number as an input (say the number )
- Multiply the number with 10
- Print the result using f-string as
The final result is