## Repetition Structures 
## while and for Loop

# Iteration
Computers are often used to automate repetitive tasks. Repeating identical or similar tasks without making errors is something that computers do well and people do poorly.

Repeated execution of a set of statements is called iteration. Python has two statements for iteration â€“ the for statement, and the while statement.

# Using the range function with the for Loop

Lets' say I want to print my name 5 times, then I need to write 5 print statement as below:

In [1]:
print("Mike")
print("Mike")
print("Mike")
print("Mike")
print("Mike")

Mike
Mike
Mike
Mike
Mike

Python provides a built in function named range that simplifies the proccess of writing count-controlled loops

In [2]:
# using for loop we can do the same task in 2 lines
for x in range(5): #for loops run upto n-1, here n is 5, 
                    #so it will print my name 5 times 
                    #(the loop will run from 0 to 4 (inclusive))
    print("Mike")

Mike
Mike
Mike
Mike
Mike

- Using for loops you can repeat some actions

- range(n) is the list of integers 0,1,2,3,...,n-1

In [ ]:

for x in range(4): #for loops run upto n-1, here n is 4, so it prints 0,1,2,3
    print(x)

0
1
2
3

In [ ]:
#print me odd numbers between 0 and 10 using for loop

for x in range(10): #0,1,2,3,4,5,6,7,8,9
    if x%2!=0: #% symbol is remainder symbol and != is not equal symbol
        print(x)

1
3
5
7
9


- If you pass two arguments to the range function, the first argument is used as the starting value of the sequence, and the second argument is used as the ending limit

- By default, the range function produces a sequence of numbers that increase by 1 for each successive number in the list

In [ ]:
# for num in range (5):
#     print(num)

for num in range (2,5):
    print(num)

2
3
4



- If you pass three argument to the range function, that argument is used as step value. Instead of increasing by 1, each successive number in the sequence will increase by the step value

In [ ]:


for num in range (1,10,3): 
    print(num)

1
4
7

In [ ]:
# Write the odd numbers between 0 to 10

for num in range (1,10,2):
    print(num)

1
3
5
7
9

# Work on it 

- Print the numbers 0 to 20
- Print the even numbers between 0 through 20

In [ ]:
# Prints out the numbers 0 to 20

In [ ]:
#Print the even numbers between 0 through 20

## For loop for a sequence

In [ ]:
for i in [10,20,34,50,55]:
  print(i)

10
20
34
50
55

In [ ]:
for name in['Alice', 'Jen', 'Mark']:
    print(name)

Alice
Jen
Mark

# Table
Using the tab character ('\t') makes the output align nicely.

In [ ]:
print('Number \t Square')
print('------------------')

for number in range(1,10): #number= 1,2,3,4,...9
    square= number**2 #square = 1^2
    print(f'{number}\t{square}')
    #print(number,'\t',square)

Number 	 Square
------------------
1	1
2	4
3	9
4	16
5	25
6	36
7	49
8	64
9	81

# Work on it Together

- You can convert Fahrenhiet to Celcius using the formula below

C=(F-32)*1.8

- Write a program with for loop which considers the Fahrenheit temperatures which are multiple of 5 between 50 and 100 and convert them into Celcius degree and print the Fahrenheit and Celcius degrees together with their headings

In [ ]:
# Work here

# Letting the User Control the Loop Iterations

- Sometimes the programmer needs to let the user control the number of times loop iterates

In [ ]:
#Get the ending limit

print('This program displays a list of numbers')

print ('(starting at 1) and their squares.')

end=int(input('How high should I go?'))



print('Number \t Square')
print('------------------')

for number in range(1,end+1):
    square= number**2
    print(f'{number}\t{square}')

This program displays a list of numbers
(starting at 1) and their squares.
How high should I go?25
Number 	 Square
------------------
1	1
2	4
3	9
4	16
5	25
6	36
7	49
8	64
9	81
10	100
11	121
12	144
13	169
14	196
15	225
16	256
17	289
18	324
19	361
20	400
21	441
22	484
23	529
24	576
25	625

# Work on it 

- Write a program which asks the user for the price per GB for internet usage and using the price calculate the price for GB 1 through 10 using for loop and make a table to show price per each GB used

In [ ]:
# Work here

# Generating an Iterable Sequence that Ranges from Highest to Lowest

- You can generate sequences of numbers that go from highest to lowest

In [ ]:
for num in range (10,0,-1):
    print(num)

10
9
8
7
6
5
4
3
2
1

# While Loops

- If we don't know how many iterations needed we can use while loop.

- While loops repeat as long as the given statement is TRUE.

     while condition :

      statement 
      statement
      etc
    
    
- First line reffered as $\it{while}$ clause. The while clause start with the word while, followed by a Boolean condition that will be evaluated as either true or false

- If the condition is true, the statements that appear in the block following the while clause are executed, and the loop starts over
- If the condition is false, the program exits the loop

In [ ]:
# Prints out 0,1,2,3,4,5

count = 0 #initialization
while count <=5:
    print(count)
    count = count+1 #update #count+=1
#print("We are done")

0
1
2
3
4
5

# Work on it 

Using while loop  find the numbers between 0 and 20 which are divisible by 3.

Hint: for divisible by 3 part, you need to see if the remainder is 0. You can write 

    if x%3==0:  #here x is the variable in range 0 to 20
        print(x)

In [ ]:
# Write your code here

# Continue Statement 

- This is a control flow statement that causes the program to immediately skip the processing of the rest of the body of the loop, for the current iteration. But the loop still carries on running for its remaining iterations:

In [ ]:
for i in [12, 16, 17, 19, 24, 29, 30]:
    if i % 2 == 1:      # if the number is odd
        continue        # don't process it
    print(i)
print("done")

12
16
24
30
done

# Work on it 

Using continue statement print out only even numbers which are divisible by 2  and between 0 and 20

In [ ]:
#Write your own code here

0
2
4
6
8
10
12
14
16
18
20

# Work on it together

Using continue statement print out only odd numbers which are not divisible by 2  and between 0 and 20

In [ ]:
#Write your own code here

# Break Statement

- The break statement is used to immediately leave the body of its loop. The next statement to be executed is the first one after the body:

In [ ]:
for i in [12, 16, 17, 24, 29,30]:
    if i % 2 == 1:  # if the number is odd
        break        # immediately exit the loop
    print(i)
print("done")

12
16
done

# Work on it 

Using break statement print out only even numbers which are less than 5.

0
2
4
done