
## List


# Lists

A list is a collection which is ordered and changeable. In Python lists are written with square brackets.

In [ ]:
#Create a list
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

# Accessing Elements, positive indexing, negative indexing

- First item: [0]    (Note: List first index starts from 0 in python, this is called positive indexing)

- Last item: [-1]    (Note: List index from last starts from -1 in python, this is called negative indexing)

In [ ]:
myList = [4, 21.2, 'hi'] #List can hold different datatypes like int, float, string together

print(myList)
print(myList[0]) # Accessing First item in myList
print(myList[1]) # Accessing Second item in myList
print(myList[2]) # Accessing Third item in myList
print(myList[-1]) # Accessing Last item in myList
print(myList[-2]) # Accessing Second Last item in myList
print(myList[-3]) # Accessing Third Last item in myList

[4, 21.2, 'hi']
4
21.2
hi
hi
21.2
4

# Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [ ]:
# Return the third, fourth, and fifth item:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5]) #Remember that the first item has index 0.
#The search will start at index 2 (included) and end at index 5 (not included).

['cherry', 'orange', 'kiwi']

In [ ]:
#This example returns the items from the beginning to "orange":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4]) #The search will start at index 0 (included) and end at index 4 (not included).

['apple', 'banana', 'cherry', 'orange']

In [ ]:
#This example returns the items from "cherry" and to the end:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:]) #The search will start at index 2 (included) till the end (included).

['cherry', 'orange', 'kiwi', 'melon', 'mango']

# Range of Negative Indexes

Specify negative indexes if you want to start the search from the end of the list:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1]) #This example returns the items from index -4 (included) to index -1 (excluded)

['orange', 'kiwi', 'melon']

# Change Item Value
To change the value of a specific item, refer to the index number:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant" #Change the second item:
print(thislist)

['apple', 'blackcurrant', 'cherry']

# List Length
To determine how many items a list has, use the len() function:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist)) #Print the number of items in the list:

3

# Add Items
To add an item to the end of the list, use the append() method:

In [ ]:
#Using the append() method to append an item:

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
thislist.append(10)
print(thislist)

['apple', 'banana', 'cherry', 'orange', 10]

## To add an item at the specified index, use the insert() method:

In [ ]:
#Insert an item as the second position:

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

# Remove Item
There are several methods to remove items from a list:

In [ ]:
#The remove() method removes the specified item:

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [ ]:
#The pop() method removes the specified index, (or the last item if index is not specified):

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [ ]:
#The del keyword removes the specified index:

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [ ]:
#The del keyword can also delete the list completely:

thislist = ["apple", "banana", "cherry"]
del thislist

In [ ]:
#The clear() method empties the list:

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

# Copy a List
You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

In [ ]:
#Make a copy of a list with the copy() method:

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

## Another way to make a copy is to use the built-in method list().

In [ ]:
#Make a copy of a list with the list() method:

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

# Join Two Lists
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [ ]:
list1=[1,2,3]
list2=[4,5,6]
list3=list1+list2 # This will concatenate two lists into one, but will not add the lists element by element!
print(list3)

[1, 2, 3, 4, 5, 6]

## Use the extend() method to add list2 at the end of list1:

In [ ]:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

## Sort

In [ ]:
#sort arranges the elemets of the list from low to high

x=['e', 'a', 'c', 'b', 'd']
x.sort()
print(x)

['a', 'b', 'c', 'd', 'e']

## The list() Constructor
It is also possible to use the list() constructor to make a new list.

In [ ]:
#Using the list() constructor to make a List:

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

## Element by element operation

In [ ]:
a=[1,2,3]
b=[4,5,6]
c0=a[0]+b[0] #Add first elements from list a and list b
c1=a[1]+b[1] #Add second elements from list a and list b
c2=a[2]+b[2] #Add third elements from list a and list b
print([c0,c1,c2])

[5, 7, 9]

# Work on it now (In the box below)

x=[1,2,3] y=[4,5] z=[4,2,3,1]

-  Using append add 4 to list x
-  Using extend append list y to list x
-  Using sort arrange the elements of list z

Can we do the above operations if the list had mixed data types? Try it!

In [ ]:
#Write your code here

# Work on it now (in the box below)
If the list animal = ['cat', 'dog', 'bird', 'tiger', 'squirrel']

-  Remove the second element on the list
-  Remove 'tiger' from the list
-  Remove the elements 'cat', 'dog','bird' at once

In [ ]:
#Write your code here

## Let's say we have the following table
![picture](https://drive.google.com/uc?id=1B4QHGrkMbXgXFu6EYUA9l8CpwUpMgFOH)


Each value in the table is a data point. A collection of data points make up a data set. For instance, the first row has five data points:

-  Facebook
-  0.0
-  USD
-  2974676
-  3.5

# Find the average rating using positive indexing

In the next cell, you can see the lists for the first three rows.

The fourth element in each list describes the number of ratings an app has received. We need to retrieve the fourth element from each list, and then find the average value of the retrieved numbers.

-  Assigning the fourth element from the list row_1 to a variable named ratings_1. (Don't forget that the indexing starts at 0).
-  Assigning the fourth element from the list row_2 to a variable named ratings_2.
-  Assigning the fourth element from the list row_3 to a variable named ratings_3.
-  Then Add the three numbers retrieved together and save the sum to a variable named total.
-  Dividing the sum (now saved in the variable total) by 3 to get the average number of ratings for the first three rows. Assign the result to a variable named average.

In [ ]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]

# Write your code here and execute it
ratings_1=row_1[4]
ratings_2=row_2[4]
ratings_3=row_3[4]
total=ratings_1+ratings_2+ratings_3
average=total/3.0
print(average)

4.166666666666667

# Work on it now using negative indexing

The last element in each list shows the average rating of each application.

Retrieve the ratings for the first three rows, and then find the average value of all the ratings retrieved.

-  Assign the last element from the list row_1 to a variable named rating_1. Try to take advantage of negative indexing.
-  Assign the last element from the list row_2 to a variable named rating_2.
-  Assign the last element from the list row_3 to a variable named rating_3.
-  Add the three ratings together and save the sum to a variable named total_rating.
-  Divide the total by 3 to get the average rating. Assign the result to a variable named average_rating.

In [ ]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]

# Write your code here and execute it

Oftentimes, we need to retrieve more than one element from a list. 
Let's say we have the list ['Facebook', 0.0, 'USD', 2974676, 3.5], and 
we're interested in isolating only the name of the app and the data about ratings (the number of ratings and the rating). 

This is how we can do that:

In [ ]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
Fb_rating_data=[row_1[0],row_1[-2],row_1[-1]]
Fb_rating_data

['Facebook', 2974676, 3.5]

- List can be sliced

- List can be multiplied

- List can be added

In [ ]:
myList = [4, 21.2, 'hello']

myList[0:2] # this will print the content of the list from 0 to n-1, here n=2(note the last one does not print!)
#Change the above line so that the last one also prints

[4, 21.2]

![picture](https://drive.google.com/uc?id=1ztMAU8rBhrzwws_mgdxZFIzs7kLFw5vF)

In [ ]:
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
print(row_3[0:3]) #Slice1
print(row_3[3:5]) #Slice2 (from the forward side) 
print(row_3[-2:]) #Slice2 (from the reverse side) 
print(row_3[1:4]) #Slice3

#Note:
#a_list[:x] when we want to select the first x elements.
#a_list[-x:] when we want to select the last x elements.

['Clash of Clans', 0.0, 'USD']
[2130805, 4.5]
[2130805, 4.5]
[0.0, 'USD', 2130805]

# Work on it now

In the next cell, you can already see the lists for the 5 rows.

-  Select the first four elements from row_1 using a list slicing syntax shortcut. Assign the output to a variable named first_4_fb.
-  Select the last three elements from row_1 using a list slicing syntax shortcut. Assign the output to a variable named last_3_fb.
-  From row_5, select the list slice ['USD', 1126879] using a list slicing syntax shortcut. Assign the output to a variable named pandora_3_4.

In [ ]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
row_4 = ['Temple Run', 0.0, 'USD', 1724546, 4.5]
row_5 = ['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0]

# Write your code here and execute it

# List of list

From the mobile app store dataset, instead of having a separate variable for each of the five data points 'Facebook', 0.0, 'USD', 2974676, 3.5, we can bundle the data points together into a list, and then store the list in a single variable. That is called list of list.

![picture](https://drive.google.com/uc?id=1-xYPpgviMjWx8rPz5g_j-ruT7B8ZoNEM)

-  Retrieve the first list element (row_1) using data_set[0].
-  Retrieve the last list element (row_5) using data_set[-1].
-  Retrieve the first two list elements (row_1 and row_2) by performing list slicing using data_set[:2].


![picture](https://drive.google.com/uc?id=1BBtBPTvPROiKpwYnzOc53cyWDvFtmBoH)

# Accessing list inside list element in one step

![picture](https://drive.google.com/uc?id=1Q5MgU3T6FVzDgHU0B_ksqOoJmCF2nMT0)

# Work on it now

In the next cell we've already stored the five rows as lists in separate variables. 

-  Group together the five lists in a list of lists. 
-  Assign the resulting list of lists to a variable named app_data_set.
-  Compute the average rating of the apps by retrieving the right data points from the app_data_set list of lists.
-  The rating is the last element of each row. You'll need to sum up the ratings and then divide by the number of ratings.
-  Assign the result to a variable named avg_rating.

In [ ]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
row_4 = ['Temple Run', 0.0, 'USD', 1724546, 4.5]
row_5 = ['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0]

#Write your codde here