

# Set

# Sets 
#### A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

## Access Items
You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the <span style="color:red"> **in** </span> keyword.

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

cherry
apple
banana

In [ ]:
#Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

## Adding Items
Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the add() method.

To add more than one item to a set use the update() method.

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'orange', 'apple', 'banana'}

In [ ]:
#Add multiple items to a set, using the update() method:

thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'cherry', 'mango', 'orange', 'banana', 'grapes', 'apple'}

## Get the Length of a Set
To determine how many items a set has, use the len() method.

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

## Remove Item
To remove an item in a set, use the remove(), discard() or pop() method.

In [ ]:
#Note: If the item to remove does not exist, remove() will raise an error.


thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [ ]:
#Note: If the item to remove does not exist, discard() will NOT raise an error.

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [ ]:
#Note: pop() will remove the last item. 
#Remember that sets are unordered, so you will not know what item that gets removed.

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'apple', 'banana'}

In [ ]:
#The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [1]:
#The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: ignored

## Join Two Sets
There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another

Both union() and update() will exclude any duplicate items.

In [ ]:
#The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

In [ ]:
#The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'a', 'c'}

## The set() Constructor
It is also possible to use the set() constructor to make a set.

In [ ]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'apple', 'banana'}

In [ ]:
thisset = set("apple", "banana", "cherry") # if you ignore the double round brackets
print(thisset)

TypeError: set expected at most 1 arguments, got 3

In [ ]:
thisset = set("apple") # but you can do this
print(thisset)

{'l', 'a', 'e', 'p'}

## Set intersection()

Look for common elements

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

## Work on it now

1. Create an empty set "set1" and using a for loop add 1 to 10 in set1

2. Create another empty set "set2" and using a for loop add 5 to 20 in set2

3. Make a union and intersection of set1 and set2 and analyze the result. 

4. There are 2 sets given, people = {"Jay", "Idrish", "Archil"} and vampires = {"Karan", "Arjun"}. Make a single set population that contains all elements from people and vampires.

5. Write a Python program to remove an item from a set if it is present in the set

In [ ]:
set1=set()
for i in range(20,25)
in range (5,21)
add
print(set1)