
# Tuple

# Tuples
A tuple is an immutable sequence of Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets. Creating a tuple is as simple as putting different comma-separated values.

### Create a Tuple

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

## Access Tuple Items
### You can access tuple items by referring to the index number, inside square brackets; Like list, tuple indexes also starts from 0.

In [ ]:
#Print the second item of a tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

## Range of Indexes
### You can specify a range of indexes by specifying where to start and where to end the range.

### When specifying a range, the return value will be a new tuple with the specified items.

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5]) # Here index 5 is not included, hence "melon" does not show up in the resulting tuple

('cherry', 'orange', 'kiwi')

## Negative Indexing
### Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
#Negative indexing

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1]) #Print the last item of the tuple

cherry

### Range of Negative Indexes
#### Specify negative indexes if you want to start the search from the end of the tuple:

In [ ]:
#Range of negative indexing

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1]) #This example returns the items from index -4 (included) to index -1 (excluded)

('orange', 'kiwi', 'melon')

## Change Tuple Values
### Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

### But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
#Convert the tuple into a list to be able to change it:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

### Loop Through a Tuple
#### You can loop through the tuple items by using a <span style="color:red"> **for** </span> loop.

In [ ]:
#Iterate through the items and print the values:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

### Check if Item Exists
#### To determine if a specified item is present in a tuple use the <span style="color:red"> **in** </span> keyword:

In [ ]:

#Check if "apple" is present in the tuple:
thistuple = ("apple", "banana", "cherry")
if "mango" in thistuple:
      print("Yes, mango")
else:
    print("No 'mango'")

No 'mango'

## Tuple Length
### To determine how many items a tuple has, use the len() method:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple)) #count the number of elements in the tuple

3

## Add Items
### Once a tuple is created, you cannot add items to it. Tuples are unchangeable.

In [ ]:
thistuple = ("apple", "banana", "cherry")
thistuple[3] = "orange" # This will raise an error
print(thistuple)

TypeError: 'tuple' object does not support item assignment

## Create Tuple With One Item
### To create a tuple with only one item, you have add a comma after the item, unless Python will not recognize the variable as a tuple.

In [ ]:
thistuple = ("apple",) # correct syntax to define a tuple with a single element. Do not forget to put that extra comma at the end
print(type(thistuple)) # data type will be tuple

#NOT a tuple
thistuple = ("apple") # Python will think you have assigned a string variable and mistakenly added pair of extra brackets
print(type(thistuple)) # data type will be a string

<class 'tuple'>
<class 'str'>

### Note:
Notice the , in the declaration of the tuple a above. If you do not specify a comma when initializing a single item in a tuple, Python assumes that you mistakenly added an extra pair of bracket (which is harmless) but then the data type is not a tuple. So remember to add a comma when declaring a single item in a tuple.

## Remove Items
### Note: You cannot remove items in a tuple.
###  Tuples are unchangeable, so you cannot remove items from it, but you can delete the tuple completely:

In [ ]:
#The "del" keyword can delete the tuple completely:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

## To sum up:
- You can't add elements to a tuple because of their immutable property. There's no append() or extend() method for tuples,
- You can't remove elements from a tuple, also because of their immutability. Tuples have no remove() or pop() method,
- You can find elements in a tuple since this doesn't change the tuple.
- You can also use the "in" operator to check if an element exists in the tuple.

So, if you're defining a constant set of values and all you're going to do with it is iterate through it, use a tuple instead of a list. It will be faster than working with lists and also safer, as the tuples contain "write-protect" data.

## Join Two Tuples
### To join two or more tuples you can use the + operator:

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

## The tuple() Constructor
### It is also possible to use the tuple() constructor to make a tuple.

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

## Tuple Methods

### count()	: Returns the number of times a specified value occurs in a tuple

In [ ]:
#Return the number of times the value 5 appears in the tuple:

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5, 5)

x = thistuple.count(5)

print(x)

3

### index() : Searches the tuple for a specified value and returns the position of where it was found

In [ ]:
#Search for the first occurrence of the value 8, and return its position:

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8) #return index of the first occurance of the element

print(x)

3

## Loop through tuple

In [ ]:
#Example 1: Iterate through the items and print the values
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [ ]:
#Example 2: You can create tuple of list elements and iterate through it
tuplex=([1,2,3],[10,11,14],[6,76,11],[9,23,0]) #Here each list is an element in the tuple, so there is 4 elements in this tuple and each element is a list
for element in tuplex:
    print(element)

[1, 2, 3]
[10, 11, 14]
[6, 76, 11]
[9, 23, 0]

In [ ]:
# Now you can iterate through the lists in it 
tuplex=([1,2,3],[10,11,14],[6,76,11],[9,23,0]) #Here each list is an element in the tuple, so there is 4 elements in this tuple and each element is a list
for element in tuplex: # iterate through the tuple
    for n in element:  # iterate through the lists
        print(n)

1
2
3
10
11
14
6
76
11
9
23
0

In [ ]:
# Now if you want to display only the second items from the list elements 
tuplex=([1,2,3],[10,11,14],[6,76,11],[9,23,0]) #Here each list is an element in the tuple, so there is 4 elements in this tuple and each element is a list
for element in tuplex: # iterate through the tuple
    print(element[1])

2
11
76
23

### Similarly you can create a list of tuple elements

In [ ]:
list1=[(1,2,3),(10,11,14),(6,76,11),(9,23,0)] #this is list which contains 4 tuples in it
for element in list1: # iterate through the list
    print(element[1]) # display the 2nd element from each tuple

2
11
76
23

# Tuple exercises
 - (1) tuplex = (4, 6, 2, 8, 3, 1) 
       a) Add 9 to tuplex (hint: create a tuple with a single element 9 in it and then concatenate with tuplex)
       b) Add (15, 20, 25) to tuplex at index 5, 6, 7 (Hint: convert the tuple into a list, then insert items at specific position and then convert it back to tuple OR you can take advantage of tuple slicing operation and concatenation operation to insert these items at specific position. In the later approach, you need to treat (15, 20, 25) as a tuple)
 
 
-  (2) Remove tuple elements from the tuple if the element is greater than n
                
                Example:tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7 ), here n=5
                output:(2, 4, 5, 2, 3, 4, 4)
                (Hint: You need to iterate through the tuple using a "for" loop and then use the "if" to validate the condition   )
 
- (3) Find the tuples containing the given element from a list of tuples 
                
                Example: Input: n = 11, list = [(11, 22), (33, 55), (55, 77), (11, 44)]
                Output: [(11, 22), (11, 44)]
                
                Input: n = 3, list = [(14, 3),(23, 41),(33, 62),(1, 3),(3, 3)]
                Output: [(14, 3), (1, 3), (3, 3)]
                
                (Hint: Iterate through the list and using "in" keyword check the availability of the specific element )